* {
    font-family: Montserrat, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

h1,
p {
    font-family: "Covered By Your Grace", sans-serif;
    color:darkslategrey;
}

h1 {
    font-size: 3em;
}

p {
    font-size: 1.5em;
}

.GIF {
    border-radius: 5%;
}